::selection {
	background: rgba(0, 0, 0, 0.1);
}

main {
	margin: 30px 0;
}

footer {
	text-align: center;
	margin-bottom: 30px;
	color: #aaa;
}

h1.card-title {
	font-weight: lighter;
}

.light {
	opacity: 0.3;
}

.ma-bo {
	margin-bottom: 20px;
}
.ma-to {
	margin-top: 30px;
}

.card .table th {
	border-top: 0;
}
.card .table {
	margin-bottom: 0;
}

.big {
	transform: scale(1.2);
}

.shorten-url {
	transition: 0.3s;
}

.card ul {
	margin-bottom: 0;
}

.table-limited {
	max-height: 700px;
	overflow: hidden;
	position: relative;
}

.glare {
	position: absolute;
	bottom: 70px;
	left: 0; right: 0;
	height: 100px;
	background: linear-gradient(transparent, #fff);
}

.login {
	position: fixed;
	left: 0; right: 0;
	top: 0; bottom: 0;
	background: rgba(190, 190, 190, 0.55);
	z-index: 999;

	.card {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		max-width: 90%;
		width: 400px;
	}
}

.login-form {
	display: none;
}

.analytics-content {
	display: none;
}

.back-btn {
	cursor: pointer;
}